{# 
/**
 * @param :
 * result array
 */
#}
{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block title "Show post" %}

{% block content %}
   <h2>{{ post.title }} </h2>
   <p>comment</p>
{% endblock %}
